<h1>Tech Talent South Resources</h1>
<p>Links to great resources for students and alumni of Tech Talent South's bootcamp.</p>
<h1>Contributors</h1>

<div class="contributor">
   <%= link_to image_tag("https://avatars3.githubusercontent.com/u/4777393?v=3&s=460"), "https://github.com/lortza", :target => "_blank" %>
   <p class="name">Sia Karamalegos</p>
   <p>current instructor in New Orleans</p>
   <a href="https://github.com/siakaramalegos" target="_blank"><i class="fa fa-github-square"></i></a> <a href="https://www.linkedin.com/in/karamalegos" target="_blank"><i class="fa fa-linkedin-square"></i></a> <a href="https://twitter.com/thegreengreek" target="_blank"><i class="fa fa-twitter-square"></i></a></a> 
</div> <!-- contributor -->

<div class="contributor">
   <%= link_to image_tag("https://avatars0.githubusercontent.com/u/10727873?v=3&s=460"), "https://github.com/nickymast", :target => "_blank" %>
   <p class="name">Nicky Mast</p>
   <p>former student in New Orleans</p>
   <a href="https://github.com/nickymast" target="_blank"><i class="fa fa-github-square"></i></a> <a href="https://www.linkedin.com/in/nicolemast" target="_blank"><i class="fa fa-linkedin-square"></i></a> <a href="https://twitter.com/nickymast" target="_blank"><i class="fa fa-twitter-square"></i></a>
</div> <!-- contributor -->

<div class="contributor">
   <%= link_to image_tag("https://avatars2.githubusercontent.com/u/10700808?v=3&s=460"), "https://github.com/katiepatch", :target => "_blank" %>
   <p class="name">Katie Patch</p>
   <p>former student in New Orleans</p>
   <a href="https://github.com/katiepatch" target="_blank"><i class="fa fa-github-square"></i></a> <a href="https://www.linkedin.com/in/katiepatch" target="_blank"><i class="fa fa-linkedin-square"></i></a>
</div> <!-- contributor -->

<div class="contributor">
   <%= link_to image_tag("https://avatars3.githubusercontent.com/u/997157?v=3&s=460"), "https://github.com/GantMan", :target => "_blank" %>
   <p class="name">Gant (the man) Laborde</p>
   <p><em>current</em> Master of the Universe, former instructor in New Orleans</p>
   <a href="https://github.com/GantMan" target="_blank"><i class="fa fa-github-square"></i></a>
</div> <!-- contributor -->

<div class="contributor">
   <%= link_to image_tag("https://avatars2.githubusercontent.com/u/10931540?v=3&s=460"), "https://github.com/riannabennett", :target => "_blank" %>
   <p class="name">Ri Bennett</p>
   <p>former student in New Orleans</p>
   <a href="https://github.com/riannabennett" target="_blank"><i class="fa fa-github-square"></i></a>
</div> <!-- contributor -->

<div class="contributor">
   <%= link_to image_tag("https://avatars2.githubusercontent.com/u/13425202?v=3&s=460"), "https://github.com/detroll", :target => "_blank" %>
   <p class="name">David Huynh</p>
   <p>former student in New Orleans</p>
   <a href="https://github.com/detroll" target="_blank"><i class="fa fa-github-square"></i></a>
</div> <!-- contributor -->

<div class="contributor">
   <%= link_to image_tag("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/08f/155/13afede.jpg"), "https://github.com/lortza", :target => "_blank" %>
   <p class="name">Anne Richardson</p>
   <p>former student in New Orleans</p>
   <a href="https://github.com/lortza" target="_blank"><i class="fa fa-github-square"></i></a> <a href="https://www.linkedin.com/in/localflavor" target="_blank"><i class="fa fa-linkedin-square"></i></a> 
</div> <!-- contributor -->


