</div>
<div class="jumbotron">
  <div class="container">
    <div class="boxy">
      <h1>Tech Talent South Resources</h1>
      <p>Links to great resources for students and alumni of Tech Talent South's bootcamp.</p>
      <p><%= link_to 'Jump in!', categories_path, :class => "btn btn-warning btn-lg", :role => "button" %></p>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <h3>Newest Resources</h3>
      <% @newest_resources.each do |resource| %>
        <div class="panel panel-default">
          <div class="panel-body">
          <small class="pull-right">Added on <%= resource.created_at.stamp('Jan 1, 2015') %></small>
          <h4><a href="<%= resource.link %>" target="_blank"><%= resource.title %></a></h4>
          <p>
            <%= resource.notes %>
          </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <h3>Hottest Resources</h3>
      <% @hot_resources.each do |resource| %>
        <div class="panel panel-default">
          <div class="panel-body">
          <small class="pull-right">Net Votes <%= resource.netvotes %></small>
          <h4><a href="<%= resource.link %>" target="_blank"><%= resource.title %></a></h4>
          <p>
            <%= resource.notes %>
          </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
