<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, type: "text", :class => "form-control", placeholder: "Resource name" %>
  </div>
  <div class="field form-group">
    <%= f.label :link %><br>
    <%= f.text_area :link, type: "url", :class => "form-control", placeholder: "www.example.com"%>
  </div>
  <div class="field form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, type: "text", :class => "form-control", placeholder: "Useful notes about the resource" %>
  </div>
  <div class="field form-group">
    <%= f.label :category_id %><br>
    <% if params[:cat_id] %>
      <%= f.collection_select :category_id, @categories.order(:name), :id, :name, {prompt: 'Select a category', :selected => params[:cat_id], class: 'form-control'} %>
    <% else %>
      <%= f.collection_select :category_id, @categories.order(:name), :id, :name, {prompt: 'Select a category'}, {class: 'form-control'} %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn", type: "submit", :class => "btn btn-default" %>
  </div>
<% end %>
