<div class="col-sm-6 col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row resource">
        <div class="col-xs-2 text-center">

          <div class="vote-box">
            <%= link_to fa_icon('chevron-up lg'), upvote_resource_path(resource), method: :put %><br>
            <%= resource.netvotes %><br>
            <%= link_to fa_icon('chevron-down lg'), downvote_resource_path(resource), method: :put %>
          </div>
        </div>

        <div class="col-xs-10">
          <div class="resource-icons">
            <%= link_to fa_icon('pencil', text: 'Edit'), edit_resource_path(resource), class: "btn btn-default btn-xs" %>
            <%= link_to fa_icon('trash-o', text: 'Delete'), resource, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %>
          </div> <!-- resource-icons -->

          <%= link_to resource.link, target: "_blank", :class => "resource-link" do %>
            <h4><%= resource.title %> <%= fa_icon "external-link", class: "fa-sm" %></h4>
          <% end %>
            <p><%= resource.notes %></p>
        </div>
      </div>
    </div>
  </div>
</div>