<h1>Great Web Dev Resources</h1>

<div class="well">
<p>Filter by:</p>
<p>
  <%= link_to "Show All", resources_path, class: "btn btn-default btn-xs filter" %>
  <% @categories.order(:name).each do |category| %>
    <a href="?category_ids=<%= category.id%>"><button class="btn btn-warning btn-xs filter <%= 'active' if params[:category_ids].to_i == category.id %>"><%= category.name %></button></a>
  <% end %>
</p>
<p>
  <%= link_to 'Add a New Resource!', new_resource_path, :class => "btn btn-success", type: "button" %>
</p>
</div>


<% @resources.group_by(&:category).each do |category, resources| %>
  <div class="well">
    <h3 class="brand-text"><%= category.name %></h3>
    <%= render resources.sort_by(&:netvotes).reverse %>
  </div>

<% end %>



