<h3><%= @resource.title %></h3>
<p>
  <strong>Category:</strong>
  <%= @resource.category.name %>
</p>
<p>
  <%= @resource.notes %>
</p>
<p>
  <%= link_to @resource.link, @resource.link, target: "_blank" %>
</p>

<%= link_to fa_icon('pencil', text: 'Edit'), edit_resource_path(@resource), class: "btn btn-default" %>
<%= link_to fa_icon('list', text: 'All Resources'), resources_path, class: "btn btn-default" %>
