<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, type: "text", :class => "form-control", placeholder: "Category name" %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, type: "text", :class => "form-control", placeholder: "Category description" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn", type: "submit", :class => "btn btn-default" %>
  </div>
<% end %>
