
<h1>Categories</h1>
<blockquote><em>Click on a category to see links and resources for that category!</em></blockquote>

<p><%= link_to 'New Category', new_category_path, :class => "btn btn-default" %></p>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-sm-3">
      <div class="well">
        <p>
          <a href="<%= resources_path %>?category_ids=<%= category.id%>"><button class="btn btn-warning">
            <%= category.name %></button>
          </a>
        </p>
        <p><%= category.description %></p>
        <div class="text-right">
          <%= link_to fa_icon('pencil', text: 'Edit'), edit_category_path(category), class: "btn btn-default btn-xs" %>
          <%= link_to fa_icon('trash-o', text: 'Delete'), category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<br>


