<h2><%= @category.name %></h2>

<p>
  <%= @category.description %>
</p>

<ul>
  <% @category.resources.each do |resource| %>
    <li><%= link_to resource.title, resource.link, target: "_blank" %></li>
  <% end %>
</ul>

<%= link_to 'Create a New Resource for this Category', new_resource_path(cat_id: @category.id), class: 'btn btn-success' %>
<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary' %>
<%= link_to 'Back', categories_path, class: 'btn btn-default' %>
