<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TTS Resources</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <header>
      <%= render 'layouts/navigation' %>
    </header>

  <div class="container">

    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>
  </div>

 <footer>
    <div class="container-fluid footer">
      <div class="col-sm-4 left">
        TTS Resources &copy; <%= Time.now.year %>
      </div>

      <div class="col-sm-4 center">
        <%= link_to "Contributors", pages_about_path %>
      </div>

      <div class="col-sm-4 right">
        <a href="https://github.com/siakaramalegos/tts_resources" target="_blank">Sourcecode</a>
      </div>
    </div>
  </footer>

</body>
</html>
